name: Print Pull Request Context
on:
  workflow_dispatch:
  pull_request:
        types: [opened, edited, synchronize, reopened]
permissions:
  pull-requests: read

jobs:
    print-pr-context:
        runs-on: ubuntu-latest
        steps:
          - name: Print context
            run:
              echo "${{ toJson(github.event) }}"

